# Credenciales y entorno
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
*.egg-info/
dist/
build/

# Archivos pesados de datos y logs
archive.zip
data/
archive/
auditoria.txt
*.sqlite
*.db

# Archivos exportados o temporales (EA3 y EA4)
*.pbix
*.pdf
.vscode/
